<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- moved one level up to point partial -->
    <%- include('../partials/head.ejs'); %>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header.ejs') %>
    </header>

    <main>
      <div class="container">
        <%- include('../partials/errorMessage.ejs') %>
        <h3 class="display-5">Edit Authors</h3>     

        <!-- action - path  and post method to send data to server -->
        <!-- path - url to which the request will be sent - url(relative web page) or <end point> that will process the request -->
        <form action="/author/<%=author.id %>?_method=PUT" method="POST" class="form-group">
          <div class="col-sm-6">
            <label for="name">Name</label>
            <input class="form-control mb-2 mr-sm-2" type="text" name="name" id="name" value=<%=author.name %> />
          </div>

          <!-- body.name to get the value input in the form. You can use bodyparser -->
          <div class="col-sm-6">
            <a href="/author/<%=author.id%>" role="button" class="btn btn-primary">Cancel</a>
            <input type="submit" role="button" class="btn btn-warning" value="Update" />    
          </div>
      
        </form>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer.ejs'); %>
    </footer>
 
  </body>
</html>
