<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header.ejs'); %>
    </header>

    <main>
      <div class="jumbotron">
        <h2><%=author.name%></h2>

        <a href="/author/<%= author.id %>/edit">Edit</a>

        <!-- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals -->
        <%- include('../partials/deletebutton', { url: `/author/${author.id}` })
        %>

        <div>
   
          
      <% if (booksByAuthor.length > 0) { %>
        <h2>Book By Author</h2>
        <% booksByAuthor.forEach(book => { %>
          <img src="<%=book.coverImagePath %>" height="200" width="100" alt="bookImage">
        <% }) %>
      <% } %>
        </div>

      </div>
    </main>
    <footer>
      <%- include('../partials/footer.ejs'); %>
    </footer>
  </body>
</html>
