<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs'); %>
  </head>
  <body class="container">
    <header>
      <%- include('partials/header.ejs') %>
    </header>

    <main>
      <div class="container">
        <h2>Recently Added</h2>
        <p>NewZone - My Expressjs and EJS Demo Project</p>
      </div>
   
      <% if (books.length > 0) { %>
        <% books.forEach(book => { %>
          <a href="/books/<%=book.id%>">
            <img src="<%=book.coverImagePath %>" class="img-fluid img-thumbnail" height="400" width="200" alt="bookImage">
          </a>

        <% }) %>
      <% } %>

    </main>
    <footer>
      <%- include('partials/footer.ejs'); %>
    </footer>
  </body>
</html>
