<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>    
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header.ejs') %>
    </header>

    <main>
      <div class="jumbotron">
        <!-- <h1>This is great</h1>
        <p>Welcome to templating using EJS</p> -->
        <form action="allbooks" method="GET">
          <label for="title">Title</label>
          <input type="text" class="form-control" name="title" value="<%= searchOptions.title %>">
          <br>
          <input class="btn btn-primary" type="submit" value="Search">
        </form>
        <br>
      </div>
      <% books.forEach(book => { %>
        <img src="<%=book.coverImagePath %>" height="200" width="100" alt="bookImage">
        <% }) %>
      
    </main>
    <footer>
      <%- include('../partials/footer.ejs'); %>
    </footer>
  </body>
</html>
