<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header.ejs') %>
    </header>

    <main>
      <div class="container">
        <form action="allbooks" method="GET" class="form-group">
          
          <div class="col-sm-6"> 
            <label for="title">Book Title</label>
            <input
              class="form-control"
              id="title"
              type="text"
              name="title"
              value="<%= searchOptions.title %>"
            />
          </div>
          <div class="col-sm-6">
            <input class="btn btn-primary mt-2" type="submit" value="Search" />
          </div>
        </form>
      </div>

      <div class="container">
        <% books.forEach(book => { %>
        <a href="/books/<%= book.id %>" class="img-fluid img-thumbnail">
          <img src="<%=book.coverImagePath %>" height="200" width="200" />
        </a>
        <% }) %>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer.ejs'); %>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
